[Unit]
Description=uWSGI instance to serve flash_cards
After=network.target

[Service]
User=john
Group=www-data
WorkingDirectory=/home/kaplanerbil/flashcardproject/flashcardenv/computer-science-flash-cards
Environment="PATH=/home/kaplanerbil/flashcardproject/flashcardenv/bin"
Environment="CARDS_SETTINGS=/home/kaplanerbil/flashcardproject/flashcardenv/config-personal.txt"
ExecStart=/home/kaplanerbil/flashcardproject/flashcardenv/bin/uwsgi --ini flash_cards.ini

[Install]
WantedBy=multi-user.target