[Unit]
Description=uWSGI instance to serve flash_cards
After=network.target

[Service]
User=kaplanerbil
Group=www-data
WorkingDirectory=/home/kaplanerbil/flashcardproject2/venv/computer-science-flash-cards
Environment="PATH=/home/kaplanerbil/flashcardproject2/venv/bin"
Environment="CARDS_SETTINGS=/home/kaplanerbil/flashcardproject2/venv/config.txt"
ExecStart=/home/kaplanerbil/flashcardproject2/venv/bin/uwsgi --ini /home/kaplanerbil/flashcardproject2/venv/computer-science-flash-cards/flash_cards.ini

[Install]
WantedBy=multi-user.target