{% extends "layout.html" %}
{% block body %}

    <div class="well editPanel">
        <h2>Add a Card</h2>
        <form action="{{ url_for('add_card') }}" method="post" class="cardForm" enctype="multipart/form-data">
            <div class="form-group">
                <label for="general" class="toggleButton btn btn-default btn-lg">General &nbsp;
                    <input type="radio" name="type" value="1" id="general"/>
                </label>
                <label for="code" class="toggleButton btn btn-default btn-lg">Code &nbsp;
                    <input type="radio" name="type" value="2" id="code"/>
                </label>
            </div>
            <div class="form-group fieldFront">
                <input id="tag" name="tag" class="ui-autocomplete" placeholder="tag" >
            </div>
            <div class="form-group fieldFront">
                <textarea name="front"
                          class="form-control"
                          id="front"
                          placeholder="Front Of Card. Type OR Copy and Paste Image"
                          rows="12"></textarea>
                <div id="divImageFront" style="visibility: hidden">
                    <a class="btn btn-danger btn-xs"onclick="removeImage('Front')">
                        Remove Image
                    </a>
                    <img id="pastedImageFront" ></img>
                    <input type="text" id="imageBase64Front" hidden name="imageBase64Front" >
                </div>
<!--                <input type="button" value="Paste From Clipboard" class="btn btn-info" onclick="pasteFromClipboard('Front')">-->
            </div>
            <div class="form-group fieldBack" >
                <label for="back">Back of Card</label>
                <textarea name="back"
                          class="form-control"
                          id="back"
                          placeholder="Back Of Card. Type OR Copy and Paste Image"
                          rows="12"></textarea>
                <div id="divImageBack" style="visibility: hidden">
                    <a class="btn btn-danger btn-xs"onclick="removeImage('Back')">
                        Remove Image
                    </a>
                    <img id="pastedImageBack" ></img>
                    <input type="text" id="imageBase64Back" hidden name="imageBase64Back" >
                </div>
<!--                <input type="button" value="Paste From Clipboard" class="btn btn-info" onclick="pasteFromClipboard('Back')">-->
            </div>


            <div class="form-group">
                <button type="submit" class="saveButton btn btn-lg btn-primary">Save</button>
            </div>
        </form>
    </div>



{% endblock %}
