{% extends "layout.html" %}
{% block body %}

    {%  if total_card_number %}
    <div class="page-header">
        <h2>{{ total_card_number[0] }} Card{{ '' if (total_card_number[0] == 1) else 's' }}</h2>
    </div>
    {% endif %}
    <div class="btn-group btn-group-md" role="group" aria-label="filters">
        <a href="{{ url_for('filter_cards', filter_name="all", filter_value="-", page="1") }}" class="btn btn-{{ "primary" if filter_name == "all" else "default" }}">All</a>
        <a href="{{ url_for('filter_cards', filter_name="general", filter_value="-", page="1") }}" class="btn btn-{{ "primary" if filter_name == "general" else "default" }}">General</a>
        <a href="{{ url_for('filter_cards', filter_name="code", filter_value="-", page="1") }}" class="btn btn-{{ "primary" if filter_name == "code" else "default" }}">Code</a>
        <a href="{{ url_for('filter_cards', filter_name="known", filter_value="-", page="1") }}" class="btn btn-{{ "primary" if filter_name == "known" else "default" }}">Known</a>
        <a href="{{ url_for('filter_cards', filter_name="unknown", filter_value="-", page="1") }}" class="btn btn-{{ "primary" if filter_name == "unknown" else "default" }}">Unknown</a>
    </div>

    <br />
    <br />

    Page:
    {% for i in range(1,(page_size+1))  %}
        <a href="{{ url_for('filter_cards', filter_name=(filter_name if(filter_name) else "-"), filter_value=(tag_name if(tag_name) else "-"), page=i) }}" class="btn btn-{{ "primary" if page == (i|string) else "default" }}">{{ i }}</a>
    {% endfor %}
    <table class="table table-bordered">
        {% for card in cards %}
            <tr>
                <td>
                    <a href="{{ url_for('edit', card_id=card.id) }}" class="btn btn-xs btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
                <td class="cardContent">
<!--                    <h4>-->
<!--                    {{ card.front |replace("\n", "<br />") }}  -->
                        {{ card.front | truncate(500) |safe }}
<!--                    </h4>-->
                    {% if card.imageBase64Front != None %}
                        <div class="smallImageDiv">
                            <img data-enlargable src="{{ card.imageBase64Front }}">
                        </div>
                    {%  endif  %}

                    <hr />

                    <br/>

                    {% if card.type == 1 %}
<!--                        {{ card.back|replace("\n", "<br />") }}-->
                            {{ card.back | truncate(500) | safe }}
                    {% else %}
                        <pre><code>{{ card.back | truncate(500) | escape }}</code></pre>
                    {% endif %}

                    {% if card.imageBase64Back != None %}
                        <div class="smallImageDiv">
                            <img data-enlargable src="{{ card.imageBase64Back }}">
                        </div>
                    {%  endif  %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td>
                    <em>No cards to show.</em>
                </td>
            </tr>
        {% endfor %}
    </table>




{% endblock %}
