{% extends "layout.html" %}
{% block body %}

    <div class="page-header">
        <h2>{{ tags|length }} Tag{{ '' if (tags|length == 1) else 's' }}</h2>
    </div>

    <table class="table">
        <tr>
            <td class="cardContent">
                <a href="{{ url_for('filter_cards', filter_name="notag", filter_value="none", page=1) }}" >No tag cards({{ notagcardscount }})</a>
            </td>
        </tr>
        {% for tag in tags %}
            <tr>
                <td class="cardContent">
                    <a href="{{ url_for('filter_cards', filter_name="tag", filter_value=tag, page=1) }}" >{{ tag }} ({{ tagCounts[loop.index0] }})</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>
                    <em>No tags to show.</em>
                </td>
            </tr>
        {% endfor %}
    </table>




{% endblock %}
